
#img1
{
position: relative;

width: 250px;
height: 170px;

}



#triangle
{
 width: 390px;
 height: 340px;
 clip-path: polygon(100% 47%, 0 0, 0 100%);

}
 div h2{
  width: 65px;
  border-bottom: 2px solid #45B39D;
}

div{

  float:right;
  position:relative;
  top: -200px;
  right: 25%;

}

label, input[type=text] [type=Password]{

  display: block;

}
label
{
  margin-bottom:4px;
}
footer
{
position: relative;
left: 40%;
}

mark.color{
  color: #45B39D;
  background: none;
  right: 10%;

}

button{
  width:173px;

}
